<% include ./partials/events_header.ejs %>
<% include ./partials/navbar.ejs%>

<% if(user) {%>
  <% include ./partials/navbarUser.ejs%>
<% }else{ %>
  <% include ./partials/navbar.ejs%>
  <% }%>



  <body>

<div id="mainContainer" class="container">
  <div class="row tagline text-center">
    <h1> Find Your Fun </h1>
  </div>
  <div class="row">

  </div>
  <div class="row">
<!-- EVENT SEARCH -->
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event Type <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" class="event-type">Concerts</a></li>
            <li><a href="#" class="event-type">Sports</a></li>
            <li><a href="#" class="event-type">Restaurants</a></li>
            <li><a href="#" class="event-type">Movies</a></li>
          </ul>
        </div>
        <input type="text" class="form-control" id= "event-text">
      </div>
    </div>
<!-- DATE SEARCH -->
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-btn">
        <input type="text" class="form-control datepicker" placeholder="Date (DD/MM/YYYY)" id="date" value= <%= currentDate %> >
        </div>
      </div>
    </div>

<!-- LOCATION SEARCH -->
    <div class="col-md-4" id="locationDiv">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="City" id="location">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="start-search"><i class="fa fa-search-plus fa-1.5x"></i> Search</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Event Boxes -->
<div class="container">
  <div class="row" id="event-container">

  </div>
</div>
