<% include ./partials/events_header.ejs %>

<% include ./partials/navbar.ejs %>

<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>NodeJS + Passport</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Local Login</a>
    <a href="/signup" class="btn btn-default">Local Signup</a>
    <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="date" class="form-control" placeholder="Search for..." id="date">
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." id="location">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="start-search">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>
