<% include ./partials/events_header.ejs %>

<% include ./partials/navbar.ejs %>

<!-- <div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>NodeJS + Passport</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Local Login</a>
    <a href="/signup" class="btn btn-default">Local Signup</a>
    <hr>
</div> -->





<div class="container">
  <div class="row">

  </div>
  <div class="row">
<!-- EVENT SEARCH -->
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event Type <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" class="event-type">Concerts</a></li>
            <li><a href="#" class="event-type">Sports</a></li>
            <li><a href="#" class="event-type">Restaurants</a></li>
            <li><a href="#" class="event-type">Movies</a></li>
          </ul>
        </div>
        <input type="text" class="form-control" id= "event-text">
      </div>
    </div>
<!-- DATE SEARCH -->
    <div class="col-md-3 col-md-offset-1">
      <div class="input-group">
        <input type="text" class="form-control datepicker" placeholder="Date (DD/MM/YYYY)" id="date">
      </div>
    </div>
<!-- LOCATION SEARCH -->
    <div class="col-md-4 ">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Location" id="location">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="start-search"><i class="fa fa-search-plus fa-1.5x"></i> Search</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Event Boxes -->
<div class="container">
  <div class="row" id="event-container">

    <!-- <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div> -->
  </div>
</div>
