@import url('//fonts.googleapis.com/css?family=Open+Sans:200,300');

	body {
    width: 100%;
    padding:0;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		background: url('../images/cal_background.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
	}

  #wrapper{
    width: auto;
    margin:0 auto;
    text-align: center;
    margin-top: 80px;
  }

	#trash {
    z-index:1;
		max-width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
    margin: 0 auto;
    text-align: center;
    color: #fa2e00;
    font-weight: bolder;
    font-size: 32px;
    background: white;
    margin-bottom: 6px;
	}

	#external-events {
		max-width: 200px;
    max-height: 260px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: center;
    font-weight: bold;
    margin-right: 30px;
    margin-bottom: 20px;
		margin-left: 10.5%;
    margin:0 auto;
	}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}

	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		max-width: 810px;
    margin: 0 auto;
	}

  .fc-day-header{
    color: black;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  }

  .fc-day{
    background: #ffffff;
  }

  .fc-axis{
    background: #ffffff;
  }

  .fc-day-number{
    font-weight: bolder;
  }
  .fc-widget-content{
    border:3px solid black;
  }
